* {
	margin: 0;
	padding: 0;
}
body {
	font-family:comfortaa;
    
}
.wrapper {
	width: 1170px;
	margin: auto;
    
}
header {
	background: linear-gradient(rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0)), url(hero-section.jpg);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;	
}

.dd-button{
        color:orange !important;
        
        
}

.navbar-toggler{
     padding: 0;
         
}

.navbar-brand{
    color: white !important;
    letter-spacing: 3px;
    font-size: 30px;
    
}

.brand-logo{
    color: orange;
    margin-left: 8px;

    
}


.nav-link{
    color: white !important;
    text-align: right;
    font-size: 20px;
    font-weight: lighter;
    opacity: 80%;
	display: inline-block;

}

.nav-link::after{
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #FF9800;
	transition: width .3s;
}

.nav-link:hover::after{
    opacity: 100%;
    width: 100%;
	transition: width .3s;
    
    
}


.jumbotron{
	text-align: center;
    vertical-align: center;
	background-color: transparent;
	color: white;
    margin-top:80px;
    
}

#main-text{
    text-shadow: 0px 3px 6px #0000007e;
    font-family: great wishes;
    font-size: 80px;
    font-weight: normal;
}

.sup-text{
    opacity: 75%;
    font-size: 24px;
}

.hr-line{
	margin-left: 35%;
	margin-right: 35%;
	border-color: white;
	padding: ;
	
}

/*availble books section*/	

.books-section{
	background: url(books-section.jpg);
	height: auto;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
	margin-top: ;
	
}

.bk-header{
	color: white;
	font-size: 40px;
	font-weight: bold;
	padding-top: 20px;
}

.book-items{
	padding-bottom: 30px;
}

.book-item{
	padding-bottom: 20px;
	
}

.card:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.356), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buy-btn{
	background-color: #2196F3;
	border: none	;
}

/*books adding section*/

.adding-section{
	background: url(adding-section.jpg);
	height: auto;	
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
	margin-top: ;
	
}

.adding-header{
	color: white;
	font-size: 40px;
	font-weight: bold;
	padding-top: 15px;
}

.feild-name{
	color: white;
}

.adding-feild{
	opacity: 70%;
}

.add-btn{
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 15px;
	margin-bottom: 35px;
	background-color: #2196F3;
}

/*contact us*/

.contact-form-btn{
	width: 100%;
	border: none;
	background-color: #2196F3;
}

.contact-us-area{
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px
	;
	padding-right: 15px;
	background: linear-gradient(rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.342)),url(3124540.jpg);
	height: auto;	
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
	margin-top: ;
	
	
}

.contact-lable{
	color: white;
}

#customername{
	opacity: 70%;
}

#usermail{
	opacity: 70%;
}

#customermessage{
	opacity: 70%;
}

/*footer*/

.footer-brand-name{
	opacity: 100%;
	font-size: 26px;
	color: white;
}

.site-footer
{
  background-color:#212121;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.icon-area{
	background-color: black;
}
